.img {
    width: 250px;
    height: 250px;
    padding-bottom: 25px;
}

.darken {
    background-color: rgba(255, 255, 255, 0.659);
}

.image-h2 {
    position: relative;
    top: -200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 5px;
    /* display: block; */
}

.image {
    height: 260px
}

.mtn {
    text-align: center;
    margin-top: -20px;
}

.center-block {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 66px;
    margin-top: 50px;
}

p {
    text-align: justify;
    padding: -25px;
}

h2 {
    text-align: center;
    padding: 10px;
    display: block;
}

form {
    margin-bottom: 100px;
}