h1 {
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 66px;
    margin-top: 50px;

}

h2 {
    text-align: center;
    padding: 10px;
    display: block;
}

p {
    text-align: justify;
}

form {
    margin-bottom: 100px;
}

.center-block {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img {
    width: 250px;
    height: 250px;
    padding: 5px;
}

.mtn {
    text-align: center;
}